body 
{
    font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
	background: #000000 fixed; //{real background colour}
}

/* Headings */

h1{
 font: bold 120% Arial,sans-serif;
 color: #3B3326;
 margin: 0px;
 padding: 0px;
}

h2{
 font: bold 100% Arial,sans-serif;
 color: #3B3326;
 margin: 0px 0px 0px 0px;
 padding: 0px;
}

h3{
 font: bold 100% Arial,sans-serif;
 color: #3B3326;
 margin: 0px;
 padding: 0px;
}

h4{
 font: 100% Arial,sans-serif;
 color: #2A69A6;
 margin: 0px;
 padding: 0px;
}

h5{
 font: 100% Arial,sans-serif;
 color: #2A69A6;
 margin: 0px;
 padding: 0px;
}

/* Page Elements */

.NavBar
{
    float:left;
    width:80.5%;
    background:#000000; //{background colour behind navigation bar}
    font-size:93%;
    line-height:normal;
    position:absolute;
    top:20px;
    left: 19%;
}

.ContactFrame
{
    position: fixed;
    border-top-left-radius:5pt;
    border-top-right-radius:5pt;
    border-bottom-left-radius:5pt;
    border-bottom-right-radius:5pt;
    padding: 5px 5px;
    left:2%;
    width:15%;
    top:44px;
    background-color: #FFFF30; //{background colour for Contact Frame}
    border-radius: 5pt;
    font: small Verdana,sans-serif;
    font-size:80%;
}

.MainFrame
{
    position:absolute;
    border-top-right-radius:5pt;
    border-bottom-left-radius:5pt;
    border-bottom-right-radius:5pt;
    padding: 10px 10px;
    top: 44px;
    left: 19%;
    right: 2%;
    width: 78.6%;
    background-color: #ffffff; //{background colour for text}
}


.Papers, .Teaching, .Reading, .Home, .Goals, .CourseInfo, .Toolkit, .Lecture, .Homework, .Quizzes, .Exams, .Pictures, .Seminar, .Workshop
{
    padding: 10px 4px 4px 10px;
    font-size:80%;
    float:left;
}

.Seminar, .Teaching, .Reading, .Papers, .Workshop
{
    width:99%;
}

/* Tabs' Rules */

.NavBar ul 
{
    margin:0;
    padding:0;
    list-style:none;
}
    
.NavBar li 
{
    float:left;
    margin:0px;
    padding:0;
}

.NavBar a 
{
    display:block;
    padding: 5px 14px;
    border-top-left-radius:5pt;
    border-top-right-radius:5pt;
    text-decoration: none;
    color: #3B3326;
    font-size:80%;
    margin-right:3px;
    background:#a9a9a9; //{background colour for nagivation bar}
}

#current a
{
    background:#FFFF30;
    border-top-left-radius:5pt;
    border-top-right-radius:5pt;
}
    
/* Paragraph Rules */

.Papers p, .Teaching p, .ContactFrame p
{
    margin: 0px;
}

.Seminar p
{
    margin:1px 0px 0px 0px;
}

.Workshop p
{
    margin:1px 0px 0px 0px;
}

.ContactFrame p, .ContactFrame h1
{
    margin-left:10px;
}

.Papers table p
{
    margin-left: 0px;
}

.MainFrame img
{
    float:right;
    margin-left:4px;
    margin-right:4px;
}

/* Anchor Rules */

a:hover
{
    color:#0062A0;
}

a
{
    color: #2A69A6;
    text-decoration:none;
}

/* Table Rules */

table 
{
    background-color: #8080ff;
    border: 1px solid #4F4335;
    empty-cells:show;
    font-size:100%;
    margin:20px 0 20px 0;
    padding: 4px;
    text-align: left;
    width:98%;
    color: #3B3326;
}

table thead th
{
    border:0px;
    border-bottom:1px solid #4F4335;
    color: #3B3326;
    font-size:90%;
    padding: 3px 3px;
    text-align: left;
}

table tbody tr:nth-child(even)
{
    background-color: #d580ff;
}

table tbody tr:nth-child(odd)
{
    background-color: #ccccff;
}

table tbody td
{
    padding: 2px;
    border: 0;
}

table tbody tr:nth-child(odd) a
{
    color: #2A69A6;
    text-decoration:none;
}


table tbody tr:nth-child(even) a
{
    color: #3B4728;
    text-decoration:none;
}

tr:nth-child(odd):hover a
{
    color:#0062A0;
}

tr:nth-child(even):hover a
{
    color:#0062A0;
}

/* Goals List Rules */

li.undone
{
    list-style-image:url("Unchecked.png");
}

li.done
{
    list-style-image:url("checked.png");
}

.right
{
	position:relative;
	float:right;
	clear:both;
	margin-top:110px;
	margin-right:0px;
	width: 425px;
        background-color: #00E0C6;
}

.left
{
	position: absolute;
	float: left;
	clear: left;
	margin-top: 100px;
	margin-left: 10px;
	width: 559px;
	left: 9px;
	top: 12px;
	height: 253px;
        background-color: #00E0C6;
}

